<m-notice [icon]="'flaticon-exclamation m--font-primary'">
	For more info please check the components's official demos & documentation 
	<a class="m-link" href="https://material.angular.io/components/tabs/examples" target="_blank">
		demos & documentation
	</a>
</m-notice>

<m-material-preview [viewItem]="exampleBasicTabs">
	<div class="m-section">
		<span class="m-section__sub">
			Angular Material
			<mark>tabs</mark> organize content into separate views where only one view can be visible at a time. Each tab's label is shown in the tab header and the active tab's label is designated with the animated ink bar. When the list of tab labels exceeds the width of the header, pagination controls appear to let the user scroll left and right across the labels.
		</span>
		<div class="m-separator m-separator--dashed"></div>
		<div class="m-section__content">
			<mat-tab-group>
				<mat-tab label="Tab 1">Content 1</mat-tab>
				<mat-tab label="Tab 2">Content 2</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</m-material-preview>

<m-material-preview [viewItem]="exampleComplex">
	<div class="m-section">
		<div class="m-section__content">
			<mat-card>
				<mat-card-content>
					<h5 class="example-h2">Tabs with text labels</h5>
					<mat-tab-group class="demo-tab-group">
						<mat-tab label="Tab 1">
							<div class="demo-tab-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
							</div>
						</mat-tab>
						<mat-tab label="Tab 2">
							<div 	class="demo-tab-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
							</div>
						</mat-tab>
						<mat-tab label="Tab 3" disabled>
							No content
						</mat-tab>
						<mat-tab label="Tab 4">
							<div class="demo-tab-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
								<br />
								<br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
							</div>
						</mat-tab>
						<mat-tab label="Tab 5">
							No content
						</mat-tab>
						<mat-tab label="Tab 6">
							No content
						</mat-tab>
					</mat-tab-group>
				</mat-card-content>
			</mat-card>

			<mat-card>
				<mat-card-content>
					<h5 class="example-h2">Tabs with icon labels</h5>
					<mat-tab-group class="demo-tab-group">
						<mat-tab label="Tab 1">
							<ng-template mat-tab-label>
								<mat-icon>security</mat-icon>
							</ng-template>
							<div class="demo-tab-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
							</div>
						</mat-tab>
						<mat-tab label="Tab 2">
							<ng-template mat-tab-label>
								<mat-icon>attach_file</mat-icon>
							</ng-template>
							<div class="demo-tab-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
							</div>
						</mat-tab>
						<mat-tab label="Tab 3" disabled>
							<ng-template mat-tab-label>
								<mat-icon>block</mat-icon>
							</ng-template>
							No content
						</mat-tab>
						<mat-tab label="Tab 4">
							<ng-template mat-tab-label>
								<mat-icon>loop</mat-icon>
							</ng-template>
							<div class="demo-tab-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
								<br />
								<br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
							</div>
						</mat-tab>
						<mat-tab label="Tab 5">
							<ng-template mat-tab-label>
								<mat-icon>build</mat-icon>
							</ng-template>
							No content
						</mat-tab>
						<mat-tab label="Tab 6">
							<ng-template mat-tab-label>
								<mat-icon>thumb_down</mat-icon>
							</ng-template>
							No content
						</mat-tab>
					</mat-tab-group>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</m-material-preview>