.funnel-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.funnel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #d3d3d3;
}

.funnel::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 500px solid white;
  border-left: 320px solid transparent;
}

.funnel::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 500px solid white;
  border-right: 320px solid transparent;
}

.level {
  width: 100%;
}

.change-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
