<div class="m-widget14">
  <div class="m-widget14__header">
    <h3 class="m-widget14__title">
      Profit Share
    </h3>
    <span class="m-widget14__desc">
      Profit Share between customers
    </span>
  </div>
  <div class="funnel-wrap">
    <div #funnel class="funnel">
      <div class="level" *ngFor="let specificObj of data; trackBy: trackByFn" [ngStyle]="{'height': countHeight(specificObj, data, funnel), 'backgroundColor': specificObj.color}">
        <div style="text-align: center;"><span>level : {{specificObj.level}}</span></div>
        <div style="text-align: center;"><span>{{specificObj.count}}</span></div>
      </div>
    </div>
  </div>
</div>