<!--Begin::Section-->
<!-- <div class="row">
	<div class="col-xl-4">
		<m-finance-stats></m-finance-stats>
	</div>
	<div class="col-xl-4">
		<m-blog></m-blog>
	</div>
	<div class="col-xl-4">
		<m-packages></m-packages>
	</div>
</div> -->
<!--End::Section-->


<!--Begin::Section-->
<div class="m-portlet">
	<div class="m-portlet__body m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-4">
				<m-stat></m-stat>
			</div>
			<div class="col-xl-4">
				<m-bar-chart></m-bar-chart>
			</div>
			<div class="col-xl-4">
				<m-funnel-chart></m-funnel-chart>
			</div>
		</div>
	</div>
</div>
<!--Begin::Section-->
<div class="m-portlet">
	<div class="m-portlet__body m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-4">
				<m-stat></m-stat>
			</div>
			<div class="col-xl-4">
				<m-bar-chart></m-bar-chart>
			</div>
			<div class="col-xl-4">
				<m-doughnut-chart></m-doughnut-chart>
			</div>
		</div>
	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<!-- <div class="row">
	<div class="col-xl-6">
		<m-tasks></m-tasks>
	</div>
	<div class="col-xl-6">
		<m-support-tickets></m-support-tickets>
	</div>
</div> -->
<!--End::Section-->

<!--Begin::Section-->
<!-- <div class="row">
	<div class="col-xl-6">
		<m-recent-activities></m-recent-activities>
	</div>
	<div class="col-xl-6">
		<m-recent-notifications></m-recent-notifications>
	</div>
</div> -->
<!--End::Section-->

<!--Begin::Section-->
<!-- <div class="row">
	<div class="col-xl-8">
		<m-data-table></m-data-table>
	</div>
	<div class="col-xl-4">
		<m-audit-log></m-audit-log>
	</div>
</div> -->
<!--End::Section-->

<!--Begin::Section-->
<!-- <div class="row">
	<div class="col-xl-8">
		<m-best-seller></m-best-seller>
	</div>
	<div class="col-xl-4">
		<m-author-profit></m-author-profit>
	</div>
</div> -->
<!--End::Section-->