<m-notice [icon]="'flaticon-exclamation m--font-primary'">
	For more info please check the components's official demos & documentation
	<a class="m-link" href="https://material.angular.io/components/expansion/overview" target="_blank">
		demos & documentation
	</a>
</m-notice>

<div class="row">
	<div class="col-xl-6">
		<m-material-preview [viewItem]="exampleBasicPanel">
			<div class="m-section">
				<span class="m-section__sub">
					<code>&lt;mat-expansion-panel&gt;</code> provides an expandable details-summary view.is a component
					that allows for Material styling of a line separator with various orientation options.
				</span>
				<div class="m-separator m-separator--dashed"></div>
				<div class="m-section__content">
					<mat-accordion>
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>
									Personal data
								</mat-panel-title>
								<mat-panel-description>
									Type your name and age
								</mat-panel-description>
							</mat-expansion-panel-header>

							<mat-form-field>
								<input matInput placeholder="First name">
							</mat-form-field>

							<mat-form-field>
								<input matInput placeholder="Age">
							</mat-form-field>
						</mat-expansion-panel>
						<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
							<mat-expansion-panel-header>
								<mat-panel-title>
									Self aware panel
								</mat-panel-title>
								<mat-panel-description>
									Currently I am {{panelOpenState ? 'open' : 'closed'}}
								</mat-panel-description>
							</mat-expansion-panel-header>
							<p>I'm visible because I am open</p>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
			</div>
		</m-material-preview>
		<m-material-preview [viewItem]="exampleDisabledPanel">
			<div class="m-section">
				<span class="m-section__sub">
					Expansion panels can be
					<mark>disabled</mark> using the disabled attribute. A disabled expansion panel can't be toggled by
					the user, but can still be manipulated programmatically.
				</span>
				<div class="m-separator m-separator--dashed"></div>
				<div class="m-section__content">
					<mat-expansion-panel [disabled]="isDisabled">
						<mat-expansion-panel-header>
							This is the expansion title
						</mat-expansion-panel-header>
						<mat-panel-description>
							This is a summary of the content
						</mat-panel-description>
					</mat-expansion-panel>
				</div>
			</div>
		</m-material-preview>
	</div>
	<div class="col-xl-6">
		<m-material-preview [viewItem]="exampleAccordion">
			<div class="m-section">
				<div class="m-section__content">
					<mat-accordion class="example-headers-align">
						<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
							<mat-expansion-panel-header>
								<mat-panel-title>
									Personal data
								</mat-panel-title>
								<mat-panel-description>
									Type your name and age
									<mat-icon>account_circle</mat-icon>
								</mat-panel-description>
							</mat-expansion-panel-header>

							<mat-form-field>
								<input matInput placeholder="First name">
							</mat-form-field>

							<mat-form-field>
								<input matInput type="number" min="1" placeholder="Age">
							</mat-form-field>

							<mat-action-row>
								<button mat-button color="primary" (click)="nextStep()">Next</button>
							</mat-action-row>
						</mat-expansion-panel>

						<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
							<mat-expansion-panel-header>
								<mat-panel-title>
									Destination
								</mat-panel-title>
								<mat-panel-description>
									Type the country name
									<mat-icon>map</mat-icon>
								</mat-panel-description>
							</mat-expansion-panel-header>

							<mat-form-field>
								<input matInput placeholder="Country">
							</mat-form-field>

							<mat-action-row>
								<button mat-button color="warn" (click)="prevStep()">Previous</button>
								<button mat-button color="primary" (click)="nextStep()">Next</button>
							</mat-action-row>
						</mat-expansion-panel>

						<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
							<mat-expansion-panel-header>
								<mat-panel-title>
									Day of the trip
								</mat-panel-title>
								<mat-panel-description>
									Inform the date you wish to travel
									<mat-icon>date_range</mat-icon>
								</mat-panel-description>
							</mat-expansion-panel-header>

							<mat-form-field>
								<input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()"
									readonly>
							</mat-form-field>
							<mat-datepicker #picker></mat-datepicker>

							<mat-action-row>
								<button mat-button color="warn" (click)="prevStep()">Previous</button>
								<button mat-button color="primary" (click)="nextStep()">End</button>
							</mat-action-row>
						</mat-expansion-panel>
					</mat-accordion>
				</div>
			</div>
		</m-material-preview>
	</div>
</div>